<md-content>
      
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
      <p>
      <form ng-submit="$ctrl.submit()">
        Enter a user's github username to subscribe to their repo feed.
        <input type="text" ng-model="$ctrl.text" name="text" />
        <input type="submit" id="submit" value="Submit" />
      </form>
      </p>
    <div class="col-md-10">
      <!--Body content-->

      <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.listItems  | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <div class="mid-list-item-text">
          <span><img ng-src="{{item.activity.object.contentImage.dimensions.normal.url}}" ng-style=" {'width':'{{item.activity.object.contentImage.dimensions.normal.width}}px','height':'{{item.activity.object.contentImage.dimensions.normal.height}}px'}" /> {{item.activity.actor.author.displayName}}</span>
          <p>{{item.activity.object.content}} {{item.activity.title}}</p>
          <clock date={{item.activity.object.ucdEdusModel.event.endDate}}></clock>
          </div>
          <hr></hr>
        </md-list-item></md-list>
      </md-list>
    </div>
</md-content>

